body {
    background: url(../assets/banana.jpg);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

.username-box {
    border: solid 2px black;
    margin: 10px 20px;
    height: 150px;
    padding: 20px 50px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.766);
}

.username-box::-webkit-scrollbar {
    display: none;
}

.username-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 45px;
}

.users-with-word {
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px;
}

.centered-users-list {
    justify-content: center;
    align-items: center;
}

.users-with-word a {
    color: black;
}

.user {
    text-decoration: underline;
    width: fit-content;
    font-weight: bold;
}

.user span:hover {
    color: grey;
}

.word-card {
    min-height: 375px;
}

.word {
    margin-bottom: 0px;
    padding-top: 65px;
}

hr {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

button {
    margin-top: 25px;
}

.user-list {
    color: white;
    margin-top: 30px;
}
