@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

.drag-pantry {
    color: white;
    position: absolute;
    top: -35px;
    right: 5px;
    padding: 10px;
    border: 2px solid white;
}

body {
    background-image: url('../assets/bulk-bin.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

#bulk-bin-header {
    background: black;
}

#bulk-p {
    font-style: normal;
    font-size: 1.2em;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#bulk-bin-list {
    text-align: center;
}

hr {
    border-bottom: 1px solid black;
    margin: 8px 0 0 0;
}

.word-card {
    padding: 25px 50px;
}
