@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

body {
    background-image: url('../assets/bulk-bin.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

section ul {
    height: 661px;
}

#bulk-bin-header {
    background: black;
}

#bulk-p {
    font-style: normal;
    font-size: 1.2em;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#bulk-bin-list {
    text-align: center;
    
}

.word-card {
    text-align: center;
}