@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

body {
    background-image: url('../assets/bulk-bin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bulk-bin-header {
    background: black;
}

#bulk-bin-list {
    text-align: center;
    
}

.word-card {
    text-align: center;
}
