@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

:root {
    --background: white;
    --header-background: black;
}

:-webkit-any-link {
    text-decoration: none;
}

h1 {
    margin-left: 35px;
}

main h1 {
    margin: 0;
    font-style: bold;
    color: white;
}

.shadowed, main > h1, main > h2, main > p {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 2px black);
}

.shadowed {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 2px black);
}

.logo {
    width: 60px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Gentium Plus', serif;
    background: var(--background);
}

body > div {
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    background: black;
    color: white;
}

header a:hover {
    color: grey;
}

.nav {
    color: white;
}

#user {
    flex-grow: 2;
    margin-right: 20px;
    text-align: right;
    display: grid;
}

#user a {
    font-size: .8em;
    color:steelblue;
}

.hidden {
    display: none;
}

.word-card {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.766);
    margin: 35px 20px;
    padding: 50px;
    text-align: left;
}

.word-type {
    font-style: italic;
}

.word {
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
}

.word:visited {
    color: inherit;
}

a .word {
    color: black;
}

footer {
    margin-top: 20px;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.bio-link {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    text-decoration: underline;
}

.bio-link:hover {
    color: gray;
}

.word-link:hover {
    color: rgb(88, 88, 88);
}

button {
    font-family: inherit;
    border: 1px solid black;
    border-radius: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.384);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.685);
}

button:active {
    background-color: rgba(255, 255, 255, 0.925);
}

.notification {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.766);
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}

.notification button {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 15px;
    width: 15px;
    padding: 0px;
    border: none;
    line-height: 0;
}

#popup {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#take-down {
    -webkit-animation: fadeout 1s;
    animation: fadeout 1s;
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.hidden {
    display: none;
}