body {
    background: url(../assets/profiles.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top right;
}

.username {
    font-size: 2em;
    text-transform: capitalize;
    word-spacing: 0.11em;
}

#profile-words li {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.empty-message {
    margin: 10px 0;
}
