.username {
    font-size: 2em;
    text-decoration: underline;
}

.box {
    margin: 20px
}

#profile-box {
    border: 5px solid grey;
}

#profile-words {
    border: 5px solid grey;
}

#profile-words li {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.empty-message {
    margin: 10px 0;
}
